<h5>Userlar listeleniyor</h5>
<table class="table">
    <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">name</th>
          <th scope="col">surname</th>
          <th scope="col">email</th>
          <th scope="col">resim</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{users.id}}</th>
          <td>{{users.name}}</td>
          <td>{{users.surname}}</td>
          <td>{{users.mail}}</td>
          <td>{{users.imagepath}}</td>
        </tr>
      </tbody>
</table>